aiosmtpd==1.4.6
amqp==5.3.1
atpublic==7.0.0
attrs==25.4.0
billiard==4.2.4
blinker==1.9.0
cachelib==0.13.0
celery==5.6.2
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cors==1.0.1
dataclass-wizard==0.22.3
filelock==3.20.3
Flask==3.1.2
Flask-Caching==2.3.1
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
future==1.0.0
gevent==25.9.1
greenlet==3.3.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.6.2
mailhog==0.1.1
MarkupSafe==3.0.3
packaging==26.0
prompt_toolkit==3.0.52
PyJWT==2.11.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
redis==6.4.0
requests==2.32.5
requests-file==3.0.1
six==1.17.0
SQLAlchemy==2.0.46
tldextract==5.3.1
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
Werkzeug==3.1.5
zope.event==6.1
zope.interface==8.2
